body {
	background-color: #ffffff;
	color: #39394c;
    text-align: center;
}

.ip {
	color: #CD0000;
}
			
header {
	margin: 0px auto;
	text-align: center;
	display: inline-block;
	position: relative;
	background-color: #ffffff;
	color: #39394c;
}

footer {
	background-color: #ffffff;
	color: #39394c;
	text-align: center;
	font-weight: bold;
	font-family: 'Over the Rainbow', cursive;
	font-size: 17px;
    padding: 10px;
}

footer img {
	border: none;
}

iframe {
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}

img a {
	border: 0px none transparent;
}

h1 {
	clear: both;
	font-weight: normal;
	font-family: 'Monofett', cursive;
	font-size: 80px;
	margin: 30px;			
}

h1 a {
    clear: both;
    color: #39394c;
	font-weight: normal;
	font-family: 'Monofett', cursive;
	font-size: 80px;
	margin: 30px;
}

h2 {
	font-family: 'Over the Rainbow', cursive;
	font-size: 24px;
}

h3 {
	font-weight: 400;
	font-family: 'IM Fell DW Pica SC', serif;
	font-size: 17px;
}

h4 a {
	clear: both;
	font-weight: normal;
	font-family: 'Monofett', cursive;
	font-size: 25px;
    color: #39394c;
	text-decoration: none;
}

a {
		color: #1877f5;
		text-decoration: none;
}

article {
        margin: 0px auto;
        width: 600px;
		display: block;
		position: relative;
}

.img {
        padding-top: 15px;
        margin-bottom: -15px;
}

.title {
        margin-bottom: -25px;
}

.body {
	padding-top: 10px;
	padding-bottom: 10px;
}
.body a {
    	color: #1877f5;
    	text-decoration: none;
}

.date {
		font-weight: 400;
		font-family: 'Over the Rainbow', cursive;
        margin-top: -20px;
        margin-bottom: 15px;
        font-size: 15px;
}

.date a {
		font-weight: 400;
		font-family: 'Over the Rainbow', cursive;
        margin-top: -20px;
        margin-bottom: 15px;
        font-size: 15px;
        color: #39394c;
		text-decoration: none;
}

.social {
        margin-top: -5px;
        padding-bottom: 10px;
}

.comments {
     	margin-top: 15px;
        margin-bottom: 10px;
        padding-bottom: 15px;
}
